body {
    background-color: #f2f3f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* style navbar start here */

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    margin: 0 15px;
    overflow: hidden;
}
.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #1f58df;
  border-radius: 20px;
  color: aliceblue;
  margin-left: 15px;
  
}
.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
    height: 50px;
}

.navList{
    list-style: none;
}
a {
 text-decoration: none;
}

/* style navbar end here */

/* style body start here */
body {
    margin: 0 10px;
   
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 99%;
    /* background-color: #fff; */
    /* border: 1px solid blue; */
    margin-top: 60px;
    overflow: hidden;
    z-index: 0;
    /* position: fixed; */
    /* padding-top: 20px; */
}
/* ...........BLUE COMPONENT STYLE START HERE..... */
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #3632bf;
    border: 1px solid blue;
    border-radius: 20px;
    border: none;
    color: #fff;
    width: 90%;
    height: 20vh;
    overflow: hidden;
    z-index: 1;
    padding: 10px;
}
.soldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10vh;
    /* border: 1px solid rgb(156, 156, 190); */
    margin-bottom: -5px;
}
.soldeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: rgb(161, 179, 210);
    /* border: 1px solid rgb(156, 156, 190); */
  }
  .fa-eye {
    color: rgb(161, 179, 210);
  }
  .solodNumber {
    color:#f99f1b;
    font-weight: 600;
    font-size: 30px;
   
  
  }
  .miseAjour {
   font-size: 12px;
   margin-top: -5px;
  }
  .cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .fa-credit-card {
    color: rgb(161, 179, 210);
  }
.myAccount {
    color: #1f58df;
    font-size: 24px;
}
/* .soldContainer {
    display: flex;
    flex-direction: column;
 
    align-items: center; 
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:  #3632bf;
 
} */
.secondNavContainer {
    height: 10vh;
    /* border: 1px solid rgb(156, 156, 190); */
    /* padding: 10px; */
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left:0;
  
  }

  .aLinkHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 30px;
    gap: 10px;
    border: 1px solid blue;
    /* width: 100%; */
    border-radius: 20px;
    border: none;
  }
  .footerLabel {
    font-size: 12px;
    color: #000000ab;
  }
  .fa-address-card {
    color: #f99f1b;
  }
  .fa-money {
    color: #2a85e5;
  }
  .fa-history {
    color:rgb(30, 48, 80) ;
  }
/* ............BLUE COMPONENT STYLE END HERE ...........*/

/* ............LAST 3 BILLS STYLE START HERE.............. */
/* .............BODY HISTORY TRANSACTIONS.............. */
.bodyPage {
    display: flex;
    flex-direction: column;
     /*justify-content: center;*/
    align-items: center; 
    /* border: 1px solid blue; */
    background-color: #fff;
    width: 90%;
    height: 55vh;
    margin-top: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.headerbill {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.177);
    /* border: 1px solid blue; */
}
.textHeadBill {
    width: 100%;
    padding-left: 20px;
}
.textHeadBill {
    font-weight: 600;
    font-size: 12px;
  }
  .seePlus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 12px;
    color: #f99f1b;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .billInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
    /* border: 1px solid rgba(128, 128, 128, 0.147); */
  }
  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: -30px;
  }
  .recieverNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 40px;
    padding-left: 10px;
    /* border: 5px solid rgba(128, 128, 128, 0.147); */
  }
  .receiverName {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }
  .moneyDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    padding-top: 15px;
    /* border: 1px solid rgba(128, 128, 128, 0.147); */
    width: 40%;
  }
  .money {
    color: #f99f1b;
  }
  .dateTransfert {
    font-size: 10px;
    color: #2779e4ac;
  }
  .botton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-user-circle-o {
    color: #1f58df;
  }
  .fa-arrow-right {
    font-size: 14px;
    
  }
  .fa-money {
    color: #1f961c;
  }
  .iconForTransfert {
    margin-right: 2px;
  }
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.147);
    border-radius: 20px;
    width: 20%;
    height: 40px;
    gap: 2px;
    
  }
  .botton {
    color: #1f58df;
  }
/* style footer end here */
.lastBill {
    width: 300px;
    /* overflow: auto; */
} 
/* style footer end here */

/* style footer start here */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 50px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0px 10px;
}
.footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.footerItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: -50px ;
}
.footerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
    text-decoration: none;
}
.fa-home {
    color: #f99f1b;
  }
  .iconMoney {
    color: #000;
  }
/* style footer end here */


/* ............................................ */
/* ..............MEDIA QUERY FOR SMALL DEVICES.... */

@media (min-width: 0px) and (max-width: 320px) {
    .bodyContainer {
        height: 75vh;
    }
    /* .......BLUE CONTAINER START..... */
    .secondNavContainer {
        margin-bottom: 10px;
    }
    .solodNumber {
        color:#f99f1b;
        font-weight: 600;
        font-size: 20px;
    }
    .soldeTitle {
        margin-top: -5px;
        
    }
    .aLinkHead {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        width: 110px;
    }
    .bodyPage {
        height: 55vh;
        margin-top: 20px;
        padding: 0px 10px;
    }
    .billInfo {
        padding: 5px 0px;
    }
    .textHeadBill {
        font-size: 10px;
    }
    .moneyDetail {
        margin-right: 10px;
    }
   
    /* .......BLUE CONTAINER END..... */
}

@media (min-width: 360px) and (max-width: 420px) {
    .bodyContainer {
        height: 80vh;
    }
    /* .......BLUE CONTAINER START..... */
    .solodNumber {
        color:#f99f1b;
        font-weight: 600;
        font-size: 19px;
    }
    .soldeTitle {
        margin-top: -5px;
    }
    .aLinkHead {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 20px;
        width: 120px;
    }
    .bodyPage {
        height: 50vh;
        margin-top: 15px;
        padding-right: 10px;
    }
    .footer {
        height: 50px;
        margin-top: 10px;
    }
    /* .......BLUE CONTAINER END..... */
}